html,
body {
    margin: 0;
}
.MuiMenuItem-root.Mui-selected,
.MuiMenuItem-root:hover {
    color: white;
    background-color: rgba(0, 118, 182, 0.822) !important;
}

.MuiMenuItem-root:focus {
    color: white;
    background-color: rgba(0, 118, 182, 0.588) !important;
}

.bg-none .MuiPaper-root {
    background-color: white !important;
    /* padding: 0 !important; */
}
